body{
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333333;
    line-height: 1.5;
}

*,
*:before,
*:after{
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*Header
==============*/
header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;

}
/*Nav
===============*/
.nav{
    text-transform: uppercase;
    font-size: 14px;
}
.nav__link{
    display: inline-block;
    vertical-align: top;

    text-decoration: none;
    color: #fff;
    transition: color 0.2s linear;
    margin: 0 15px;
    position: relative;

}
.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

}
.nav__link:hover{
    color: #fce38a;
}

.nav__link:hover:active{
    opacity: 1;
    color: #fce38a;
}
/*Intro
==============*/
.intro{
    width: 100%;
    height: 100vh;
    background: url('img/intro.jpg') center no-repeat;
    background-size: cover;
}

















